%header
  %h1= @skilltag.name

  %p
    %span
      ユーザー数:
      = @skilltag.users.count
    %span
      書いたもの数:
      = @skilltag.publications.count

.skilltag-nav
  %nav
    %ul
      %li= link_to '書いたもの', skilltag_path(name: @skilltag.name)
      %li= 'ユーザー'

.body
  - @skilltag.users.each do |user|
    .user
      %article
        %header
          %h2= link_to "#{user.last_name} #{user.first_name}", user
        %ul
          - user.skilltags.each do |skilltag|
            %li= link_to skilltag.name, skilltag_path(name: skilltag.name)
