.publication
  %header
    %h1= @publication.title

  %p= link_to @publication.url.gsub(/https?:\/\//, ''), @publication.url

  %ul
    - @publication.skilltags.each do |skilltag|
      %li= skilltag.name
    - if user_signed_in?
      %li
        = form_tag add_skilltag_publication_path(@publication), method: :put do
          = text_field_tag :skilltag
          = submit_tag 'スキルタグ登録する'

  %ul
    - @publication.users.each do |user|
      %li= user.username
    - if user_signed_in? && !@publication.users.include?(current_user)
      %li= link_to '自分を著者に登録', add_author_publication_path(@publication), method: :put

%nav
  = link_to 'Back', publications_path
